/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}

body, button {
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  box-sizing: border-box;
}

button {
  border: 0;
}

ul {
  list-style-type: none;
}
