.currency-list {
  text-align: center;
  font-size: 1.6rem;
  height: 60vh;
  width: 40vw;
  float: left;
}

.currency-list__ul {
  padding-left: 0;
  margin: 0;
  width: 100%;
  min-height: 49.5rem;
}

.currency-list__clickable {
  background-color: #407F7F;
}

.currency-list__entry {
  cursor: pointer;
  height: 3rem;
  margin-bottom: 0.6rem;
  padding-top: 1.4rem;
}

.currency-list__btn {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  padding: 0.7rem;
  min-width: 2.5rem;
  margin: .3rem .2rem;
}

.currency-list__clickable:hover {
  background-color: #0D4D4D;
}

.currency-list__clickable:active {
  background-color: #003333;
}

.currency-list__entry-part {
  float: left;
  width: 50%;
}

.current-page-btn {
  background-color: #0D4D4D;
}
