<div class="currency-list">
  <ul class="currency-list__ul">
    <li class="currency-list__clickable currency-list__entry"
      *ngFor="let currency of shownCurrencies"
      (click)="onCurrencyClicked(currency.currencyName)"
    >
      <div class="currency-list__entry-part">{{ currency.currencyName }}/EUR</div>
      <div>{{ currency.exchangeRate | number:'1.3-3' }}</div>
    </li>
  </ul>

  <button class="currency-list__clickable currency-list__btn"
    [attr.disabled]="currentPage === 1 ? true : null"
    (click)="previousPage()"
  > < </button>

  <button class="currency-list__clickable currency-list__btn"
  *ngFor="let pageNumber of pageNumbers;"
  (click)="onPageChanged(pageNumber)"
  [class.current-page-btn]="pageNumber === currentPage"
  >
    {{ pageNumber }}
  </button>

  <button class="currency-list__clickable currency-list__btn"
    [attr.disabled]="currentPage === maxPageNumber ? true : null"
    (click)="nextPage()"
  > > </button>

</div>
