<div class="currency-view">
  Historical data
  <ul class="currency-view__ul"
    *ngIf="currencyData !== undefined"
  >
    <li class="currency-view__entry">
      <div class="currency-view__part">Date</div>
      <div class="currency-view__part">{{ currencyData.currencyName }}/EUR</div>
    </li>
    <li class="currency-view__entry"
     *ngFor="let item of currencyData.exchangeRates">
      <div class="currency-view__part">{{ item.date | date:'y-MM-dd' }}</div>
      <div class="currency-view__part">{{ item.rate | number:'1.3-3' }}</div>
    </li>
  </ul>
</div>

