.currency-view {
  margin-left: 1rem;
  background-color: #407F7F;
  min-height: 51vh;
  min-width: 40vh;
  float: left;
  font-size: 1.6rem;
  padding: 3rem;
}

.currency-view__entry {
  line-height: 3rem;
  text-align: center;
}

.currency-view__part {
  width: 50%;
  float:left;
}
